h2{
    border: 3px solid hsl(261, 100%, 56%);
    border-radius: 5px;
}
pre{
    border-bottom: 3px solid rgb(249, 28, 28);
    border-top: 3px solid rgb(255, 255, 8);
    border-left: 3px dotted rgb(255, 179, 36) ;
    border-right: 3px dotted rgb(81, 255, 81);

    border-radius: 10px;
}
h1{
    text-shadow: 3px 3px 5px red , -3px -3px 5px rgb(46, 255, 255)  ;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(234, 234, 234);
    box-shadow: 3px 3px 5px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}
#box2{
    background-color: hsl(0, 100%, 60%);
}
#box3{
    background-color: hsl(189, 100%, 55%);
}
#img1{
    float: left;
    margin-right: 10px;
}
#img2{
    float: right;
    margin-left: 10px;
}
#float{
    border: 3px solid;
    display: flow-root;
}